body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(198, 213, 210);
}

nav {
    background-color: #333;
    padding: 25px;
    display: flex;
    justify-content: space-between; /* left group on left, right group on right */
    align-items: center;
    position: sticky;
    top: 0;              
    z-index: 1000; 
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

nav a:hover {
    color: red;
}

.nav-left {
    display: flex;
}

.nav-right {
    display: flex;
}


.about-container {
    padding: 30px;
    max-width: 1000px;
    margin: auto;
}

.about-container h1 {
    color: #333;
    text-align: center;
}

.about-container p {
    line-height: 1.6;
    color: #555;
}

.about-images {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

.about-images img {
    width: 45%;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}



html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    min-height: 100vh;  /* full height */
    font-family: arial;
}

footer {
    margin-top: auto;   /* pushes footer to bottom */
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
