body
{
    background-color: rgb(198, 213, 210);

}
nav {
    background-color: #333;
    padding: 25px;
    display: flex;
    justify-content: space-between; /* left group on left, right group on right */
    align-items: center;
    position: sticky;
    top: 0;              
    z-index: 1000; 
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

nav a:hover {
    color: red;
}

.nav-left {
    display: flex;
}

.nav-right {
    display: flex;
}


.card {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: 200px;
    transition: transform 0.3s, background-color 0.3s;
}
.card a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
}
.card:hover {
    transform: scale(1.05);
    background-color: #e0e0e0;
}

/* Announcements */
.announcements {
    width: 60%;
    margin: 20px auto;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
}
.announcements ul {
    list-style-type: disc;
    padding-left: 20px;
}

/* home.css */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    min-height: 100vh;  /* full height */
    font-family: arial;
}

footer {
    margin-top: auto;   /* pushes footer to bottom */
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

